nav{
    background-color: #47d4c6;
}

nav ul{
    background-color: #47d4c6;
}

nav li{
	    margin: 0 13px;
}

.search_input{
     width: 100%;
}    

.btn{
    background-color: #ccc;
    padding: 7px 5px;    
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color:black;
    width: 50%;
}
.btn:hover{
	opacity:0.7;
    color:white;
	background-color: #f05f5c!important;
}

footer{
	background-color: #000;
	text-align: center;
	color:#fff;
    padding: 30px 0px
}

